body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #464343;
}

/* Estilos do cabeçalho */
header {
    background-color: #2ecc71;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#top {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
@media(max-width: 700px){
    #top {
        flex-direction: column;
    }
    #top #curso  {
        text-align: center;
        margin-left: 5%;
        width: 90%;
    }
    #logonode {
        display: none;
    }
    #meio {
        flex-direction: column;
    }
    #meio #porque {
        margin-right: 5%;
        width: 90%;
    }
    #meio #destaque {
        display: none;
    }
    #curso {
        background-image: url('./nonode.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #porque {
        background-image: url('./vs.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

}
h2 {
    margin-left: 5px;
    font-size: 28px;
}
#curso  {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
} #curso p {
    font-size: 19px;
    line-height: 30px;
}
#logonode {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
#logonode img {

}
#meio {
    color: white;
    display: flex;
    flex-direction: row;
}
#porque {
    border-radius: 10px;
    border: solid 2px rgb(134, 133, 133);
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    line-height: 30px;
    background-color: #4e4848;
    box-shadow: 4px 4px 4px #333;
}
#porque p {margin-left: 5px;}
#porque:hover {
    background-color: #615c5c;
}
#destaque{
    text-align: center;
    border-radius: 10px;
    border: solid 2px rgb(134, 133, 133);
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    line-height: 30px;
    background-color: #4e4848;
    box-shadow: 4px 4px 4px #333;
}
#destaque p {
    margin-left: 5px;
}
#destaque:hover {
    background-color: #615c5c;
}
/* Estilos do corpo da página */
#T {
    padding: 40px;
    text-align: center;
}

/* Estilos do rodapé */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
footer img {
    width: 60px;
}

/* Estilos do botão de inscrição */
.btn-inscreva-se {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2ecc71;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos da imagem de fundo */
.background-img {
    background-image: url('./node.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px; /* Ajuste conforme necessário */
    position: relative;
}

/* Estilos do texto sobreposto na imagem de fundo */
.overlay-text {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
